<!-- Animações com transições CSS - Entendendo as propriedades de transição -->
<!-- https://desenvolvimentoparaweb.com/css/unidades-css-rem-vh-vw-vmin-vmax-ex-ch/ -->
<!-- https://developer.mozilla.org/pt-BR/docs/Web/CSS/transition-timing-function -->

<div class="title-page">
  Canal Dev Net Core - Valdir Ferreira CSS - Entendendo as propriedades de transição
</div>

<div class="container">
  <div class="box one">linear</div>
  <div class="box two">ease-in</div>
  <div class="box three">ease-out</div>
  <div class="box four">ease-in-out</div>
</div>